@page "/exercises"
@rendermode InteractiveServer
@using SmartWorkoutDataAccess.Entities
@using SmartWorkoutDataAccess
@using SmartWorkoutDataAccess.Repositories

<PageTitle>Exercises</PageTitle>

<h1>Exercises</h1>

@if (exercises == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>               
            </tr>
        </thead>
        <tbody>
            @foreach (var exercise in exercises)
            {
                <tr>
                    <td>@exercise.Id</td>
                    <td>@exercise.Name</td>
                    
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private IEnumerable<Exercise>? exercises;

    protected override async Task OnInitializedAsync()
    {

        ExerciseRepository exerciseRepository = new ExerciseRepository();
        exercises = await exerciseRepository.GetAll();
    }

}