@page "/exercises"
@rendermode InteractiveServer
@using SmartWorkoutDataAccess.Entities
@using SmartWorkoutDataAccess
@using SmartWorkoutDataAccess.Repositories

<PageTitle>Exercises</PageTitle>

<div class="title">Exercises</div>

@if (exercises == null)
{
    <p><em>Loading...</em></p>
}
else
{
    foreach (var exercise in exercises)
    {
        <div class="container">
            <div class="component">ID: @exercise.Id </div>
            <div class="component">Name: @exercise.Name</div>
        </div>
    }
}
@code {
    private IEnumerable<Exercise>? exercises;

    protected override async Task OnInitializedAsync()
    {
        ExerciseRepository exerciseRepository = new ExerciseRepository();
        exercises = await exerciseRepository.GetAll();

    }

}