.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 25px;
    background-color: #333399;
    box-shadow: -10px 10px 0px rgba(33, 33, 33, 1), -20px 20px 0px rgba(33, 33, 33, 0.7), -30px 30px 0px rgba(33, 33, 33, 0.4), -40px 40px 0px rgba(33, 33, 33, 0.1);
    margin-bottom:70px;
}

.search_add_container {
    display: flex;
    align-items: center;
}

.title {
    border-radius: 25px;
    background: #333399;
    padding: 20px;
    width: fit-content;
    font-size: 50px;
    font-weight: bold;
    color: white;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 100px;
    margin-right: 20px; /* Adjust as needed for spacing */
}

.add_exercise_button {
    background-color: #4682b4;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    margin-right: 30px;
}

    .add_exercise_button:hover {
        background-color: #3a6682; /* Darker red on hover */
    }

.container {
    border-radius: 25px;
    background: #333399;
    padding: 20px;
    width: fit-content; 
    height: fit-content; 
    margin-bottom:50px;
    margin-right: 50px;
    box-shadow: -10px 10px 0px rgba(33, 33, 33, 1), -20px 20px 0px rgba(33, 33, 33, 0.7), -30px 30px 0px rgba(33, 33, 33, 0.4), -40px 40px 0px rgba(33, 33, 33, 0.1);
    float: left;
    display: flex;
    align-items: center;
}

div.details {
    flex: 1;

}

.image {
    flex: 0 0 auto;
    margin-right: 0px;
}

    .image img {
        max-width: 100%;
        height: auto;
        border-radius: 50%;
    }

div.component {
    font-size: larger;
    font-weight: bold;
    color: white;
    margin-left: 20px;
}

.buttons_div {
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 20px; 
}

.delete_button {
    background-color: #ff4d4d; /* Red background color */
    color: white; /* White text color */
    border: none; /* Remove border */
    padding: 10px 20px; /* Padding inside the button */
    margin-left: 10px;
    border-radius: 20px; /* Rounded corners */
    cursor: pointer; /* Cursor style on hover */
    font-weight: bold;
}

    .delete_button:hover {
        background-color: #e60000; /* Darker red on hover */
    }

.update_button {
    background-color: #4682b4; /* Red background color */
    color: white; /* White text color */
    border: none; /* Remove border */
    margin-left: 10px;
    padding: 10px 20px; /* Padding inside the button */
    border-radius: 20px; /* Rounded corners */
    cursor: pointer; /* Cursor style on hover */
    font-weight: bold;
}

    .update_button:hover {
        background-color: #3a6682; /* Darker red on hover */
    }

.search_container {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    margin-right: 20px;
    background-color: #333399;
}

.search_input {
    width: 300px;
    padding: 10px;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    margin-right: 10px;
}

.search_button {
    background-color: #4682b4;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    margin-right: 10px;
}

    .search_button:hover {
        background-color: #3a6682;
    }
